# Node modules
frontend/node_modules/
server/node_modules/
node_modules/

# Logs
*.log

# Environment files
.env
.env.local

# Build folders
frontend/dist/
frontend/build/
server/build/

# OS files
.DS_Store

# IDE settings
.vscode/
.idea/
